<section port-view>
It's the port

<table id="productList" class="sortable-table">
    <!-- <li ng-repeat="product in localgoods | orderBy:clickOrder | filter: search" ng-show="product.legal"> -->
    <tr>
      <!-- Click orders based on letter selected in keyboard popup -->
      <th><button>Product<div class="sortable-table--sort-arrows"><img ng-src="img/svg/up-arrow.svg#svgView(viewBox(0 0 48 48))"><img ng-src="img/svg/down-arrow.svg#svgView(viewBox(0 0 48 48))"></div></button></th>
      <!-- Click orders high to low and low to high, needs a block with two arrows next to it to highlight sort order -->
      <th><button>Cost<div class="sortable-table--sort-arrows"><img ng-src="img/svg/up-arrow.svg#svgView(viewBox(0 0 48 48))"><img ng-src="img/svg/down-arrow.svg#svgView(viewBox(0 0 48 48))"></button></th>
      <!-- Click orders high to low and low to high, needs a block with two arrows next to it to highlight sort order -->
      <th><button>Ship<div class="sortable-table--sort-arrows"><img ng-src="img/svg/up-arrow.svg#svgView(viewBox(0 0 48 48))"><img ng-src="img/svg/down-arrow.svg#svgView(viewBox(0 0 48 48))"></button></th>
      <!-- Click orders high to low and low to high, needs a block with two arrows next to it to highlight sort order -->
      <th><button>Dock<div class="sortable-table--sort-arrows"><img ng-src="img/svg/up-arrow.svg#svgView(viewBox(0 0 48 48))"><img ng-src="img/svg/down-arrow.svg#svgView(viewBox(0 0 48 48))"></button></th>
    </tr>
  <tr ng-repeat="product in vm.portGoods">
    <td>{{product.name}}</td>
    <td>{{product.unitPrice | currency: '£'}}</td>
    <!-- When you click the following it sells a unit, long click brings up a number pad to enter the amount -->
    <td><button ng-click="">{{product.shipAmount}}</button></td>
    <!-- Buys a unit, long click brings up number pad -->
    <td><button ng-click="">{{product.dockAmount}}</button></td>
  </tr>
</table>
</section>
